/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Fundo padrão cinza claro suave */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100vh; /* Garante que o App ocupe toda a altura */
}

/* Remove a cor preta padrão de alguns browsers */
* {
  box-sizing: border-box;
}